{% extends 'common/navbar.twig' %}

{% block navbar_options %}
    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="/accounts/register"> Sing Up</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="/accounts"> Log in</a>
    </li>
{% endblock %}
