{% extends 'layout.twig' %}

<!-- navbar -->
{% block navbar %}
{% include 'common/navbar.twig' %}
{% endblock %}

{% block body %}
  <h1  class="container-title w-auto mx-5 my-4 d-flex justify-content-center"> {{ title }} </h1>
{% endblock %}